---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="WhitePaper" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">AFC White Paper</Fragment>
      <Fragment slot="desc">
      </Fragment>
    </Sectionhead>
    
   
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
          Alertfriend TOKENOMICS
      </h2>
      
      <p class="text-lg leading-relaxed text-slate-500">
        Alertfriend Coin (“<strong>AFC</strong>”) is a digital token compatible with the ERC-20 token standard. AFC has no functions, no utility and no intrinsic value, no promise or expectation of any financial return, profit, interest or dividend.
      </p>

      <p class="text-lg leading-relaxed text-slate-500">
        <strong>There is no roadmap and there is no promise or expectation that any ecosystem will even be developed for AFC.</strong>
      </p>

      <p class="text-lg leading-relaxed text-slate-500">
        <strong>AFC is completely useless and for entertainment purposes only.</strong>
      </p>

      <p class="text-lg leading-relaxed text-slate-500">
        For the avoidance of doubt, and without limiting the generality of the above, AFC is not, and is not intended to:
      </p>

      <ul class="list-disc ml-4 text-lg leading-relaxed text-slate-500">
        <li>be a medium of exchange accepted by the public (or a section of the public) as payment for goods or services or for the discharge of a debt;</li>
        <li>be designed or intended to be used by any person as payment for any goods or services, whether through the AF Group or otherwise;</li>
        <li>entitle holders to exchange AFC for goods or services;</li>
        <li>be a representation of money (including e-money);</li>
        <li>be a digital representation of a capital markets product, security, share, debenture, unit in a collective investment scheme, derivatives contract, commodity or any other kind of financial instrument or investment in any jurisdiction;</li>
        <li>be a capital markets product, security, share, debenture, unit in a collective investment scheme, derivatives contract, commodity or any other kind of financial instrument or investment in any jurisdiction;</li>
        <li>represent any shareholding, participation, right (including but not limited to voting rights), title, stake or interest in, or right to participate in business operations of any entity, enterprise or undertaking (including without limitation any member of the AlertFriend Group);</li>
        <li>represent any entitlement to any voting rights in respect of the "AlertFriend" ecosystem as described on the websites, www.alertfriend.com, and any webpages hosted thereon (“Websites”) as a whole;</li>
        <li>represent any entitlement to fees, dividends, revenue, profits or investment returns;</li>
        <li>represent any rights under a contract for differences or under any other contract the purpose or purported purpose of which is to secure a profit or avoid a loss;</li>
        <li>be refundable or exchangeable for cash (or its equivalent value in any other digital asset); and/or</li>
        <li>represent any indebtedness.</li>
        <!-- Adicione mais itens conforme necessário -->
      </ul>

      <p class="text-lg leading-relaxed text-slate-500">
        There is no guarantee and no commitment to list AFC on any exchange.
      </p>

      <p class="text-lg leading-relaxed text-slate-500">
        <strong>DISCLAIMERS</strong> <br>
        This whitepaper (<strong>“Whitepaper”</strong>) and the Websites are intended for general informational purposes only and do not constitute a prospectus, an offer document, 
        an offer of securities, or capital markets products, or digital payment tokens, or a solicitation for investment, or any offer to sell any product, instrument, 
        or asset (whether digital or otherwise). The information herein may not be exhaustive and does not imply any element of a contractual relationship. 
        There is no assurance as to the accuracy or completeness of such information and no representation, 
        warranty or undertaking is or is purported to be provided as to the accuracy or completeness of such information.
        <br><br>
        Nothing in the Whitepaper or the Websites constitutes any offer by AlertFriend Inc and its affiliates and related corporations (<strong>AF Group</strong>) to sell any AFC nor shall it or any part of it nor the fact of its presentation form the basis of, or be relied upon in connection with, any contract or investment decision.
        <br><br>
        Nothing contained in the Whitepaper or the Websites is or may be relied upon as a promise, representation or undertaking as to the future performance of the AF Group.
        <br><br>
        The information set out in the Whitepaper and the Websites is for community discussion only and is not legally binding. 
        No person is bound to enter into any contract or binding legal commitment in relation to the acquisition or receipt of AFC, 
        and no digital asset or other form of payment is to be accepted on the basis of the Whitepaper or the Websites. 
        The agreement for distribution of AFC and/or continued holding of AFC shall be governed by a separate set of terms and conditions setting out the terms of such distribution 
        and/or continued holding of AFC which shall be separately provided to you or made available on the Websites in due course.
        <br><br>
        No regulatory authority has examined or approved, whether formally or informally, any of the information set out in the Whitepaper or the Websites. 
        No such action or assurance has been or will be taken under the laws, regulatory requirements or rules of any jurisdiction. 
        The publication, distribution or dissemination of the Whitepaper or the Websites does not imply that the applicable laws, regulatory requirements or rules have been complied with.        
      </p>

      <p class="text-lg leading-relaxed text-slate-500">
        <strong>NO FURTHER INFORMATION OR UPDATE</strong><br>
        The information in this Whitepaper is current only as of the document version stated on the cover hereof. 
        Information about any token sale, the AFC functions, information concerning business operations, 
        financial conditions and future planning of AF Group may change from time to time and the information contained in this Whitepaper or the Websites may 
        become outdated as a result and none of the members of AF Group is under any obligation to update or correct this document in connection therewith.
        <br><br>
        This Whitepaper does not constitute any binding commitment. 
        Please do not rely on this information in deciding whether to purchase any AFC because ultimately, 
        the development, release, and timing of any products, features or functionality remains at the sole discretion of AF Group and is subject to change. Further, 
        the Whitepaper or the Websites may be amended or replaced from time to time. There are no obligations to update the Whitepaper or the Websites, 
        or to provide recipients with access to any information beyond what is provided herein. <br><br>
     </p>
    </div>
    
  </Container>
</Layout>
