---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Add Bot on Telegram",
    description:
      "Find the username by searching for 'alertfriendbot' and add them to your Telegram.",
    icon: "ph:telegram-logo",
  },
  {
    title: "Paste the Virtual Contract Address",
    description:
      "Just type the contract address in your Telegram chat.",
    icon: "fluent:bot-add-20-regular",
  },
  {
    title: "Manage your Agents",
    description:
      "Manage your agents in the Trade Menu using /agent.",
    icon: "fluent:task-list-square-settings-20-regular",
  },
  
];
---

<!-- <div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We have got more awesome <span class="text-indigo-600">features</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Use this section to highlight not so important features of your product.
  </p>
</div> -->
<div class="mt-20 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="purple">REAL-TIME</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
  Everything you need to know to get started
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    By adding the bot, you can trade FUN Agents and Sentient Agents in real time, benefiting from valuable insights and information   
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-indigo-500" name={item.icon} size="24" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
